## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## IDE
.vs/
.vscode/
.idea/
*.swp
*~

## OS
.DS_Store
Thumbs.db

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg

## Docker
docker-compose.override.yml

## Secrets
appsettings.*.local.json
